# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Logs
*.log
